
/* This style sets the background color of the entire page and centers the text. 
   It also sets the default font for the page to Times New Roman. */
body {
    background-color: #F5F3E7;
    background-image: url(images/bg.png);
    background-attachment: scroll;
    color: #9E1B32; /* this style gives background color */
    font-family: 'Times New Roman', Times, serif;
}

/* This style sets the text color of elements with class 'heads' to a dark blue. */
.heads2 {
    color: #9E1B32;
}

img {
    height: 400px;
    width: 500px;
}

/* This style sets the text color of elements with class 'lists' to a golden brown. 
It also sets the text italic. */
.listofplaces{
    font-style: italic;
    list-style-image: url(images/list_icon.png);
}

/* This style adds a solid border and rounded corners to the element with ID 'photo',
   and also adds padding inside the border. */


/* This style sets a different font (Courier New) and bold weight for the main header,
   and changes its text color to dark blue. */
header { 
    font-weight: bold;
    /* background-color: ; */
    color: #9E1B32;
}

footer {
    /* background-color: ; */
}