body {
    background-color: #F5F3E7;
    background-image: url(images/bg.png);
    background-attachment: scroll;
    color: #9E1B32; 
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 2px white;
}

header {
    text-align: center;
}

nav {
    background-color: #fef6f0;
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
}

nav a {
    margin: 0px 15px;
}

.heads2 {
    color: #9E1B32;
    margin-top: 20px;
    text-align: center;
}

.orderofimages {
    display: flex;
    justify-content: center;
    list-style: none;       
    padding: 0;
    margin: 0;
    gap: 15%; 
}

.listofimages {
    text-align: center; 
}

img {
    height: 400px;
    width: 500px;
}

#listofplaces{
    font-style: italic;
    list-style-image: url(images/list_icon.png);
}

header { 
    font-weight: bold;
    color: #9E1B32;
}

footer {
    text-align: center;
    margin-top: 30px;
}