
/* This style sets the background color of the entire page and centers the text. 
   It also sets the default font for the page to Times New Roman. */
body {
    background-color: #fbffff; /* this style gives background color */
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

/* This style sets the text color of elements with class 'heads' to a dark blue. */
.heads {
    color: #163468;
}

#paragraph1 {
    color: #926d12;
    width: fit-content;
    margin: auto;
    text-align: left;
}

/* This style sets the text color of elements with class 'lists' to a golden brown. 
It also sets the text italic. */
.lists{
    color: #926d12;
    font-style: italic;
}

/* This style adds a solid border and rounded corners to the element with ID 'photo',
   and also adds padding inside the border. */
#photo{
    border: 2px solid #926d12;
    border-radius: 4px;
    padding: 10px;
}

/* This style sets a different font (Courier New) and bold weight for the main header,
   and changes its text color to dark blue. */
#mainHeader { 
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #163468;
}
