ul {
    list-style-type: none;
}

li {
    display: inline-block;
    list-style-image: url(images/list_icon.png);
}

a {
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px 12px;
}

a:hover {
    color: lightgray;
}